{% extends "./base.html" %}
{% load static %}

{% block title %} Gestión de Cursos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Productos</h1>
        <form action="/buscarProducto/" class="d-flex">
            <input class="form-control me-2" type="search" placeholder="&#128269; Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><i class="gg-image" style="margin-left: 10px;"></i></th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th colspan="3">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in productos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td style="width: 4rem;">
                            <img src="../static/img/{{c.nombre}}.png">
                        </td>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.precio}}€</td>
                        <td><a href="paginaProducto/{{c.codigo}}" class="btn btn-success">Ver</a></td>
                        <td><a href="edicionProducto/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarProducto/{{c.codigo}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    img {
        width: 100%;
    }
</style>

{% endblock %}