{% extends "./base.html" %}
{% load static %}

{% block title %} Gestión de Cursos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestión de Productos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarProducto/" method="POST"> {% csrf_token %}
                    <div class="form-group py-1">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" 
                            placeholder="Código" minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group py-1">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" 
                            placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group py-1">
                        <input type="text" id="numPrecio" name="numPrecio" class="form-control" 
                            min="1" max="9" placeholder="Precio (utiliza el punto '.' para añadir decimales)" required>
                    </div>
                    <div class="form-group py-1">
                        <textarea type="text" id="txtDescripcion" name="txtDescripcion" class="form-control" 
                            maxlength="500" placeholder="Añade la descripcion del producto" required rows="4"></textarea>
                    </div>
                    <div class="form-group py-1">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Productos</h1>
        <form action="/buscarProducto/" method="POST" class="d-flex"> {% csrf_token %}
            <input class="form-control me-2" type="search" name="txtBusqueda" placeholder="&#128269; Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <div class="table-responsive py-2" style="max-height: 30rem;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><i class="gg-image" style="margin-left: 10px;"></i></th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th colspan="3">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in productos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td style="width: 4rem;">
                            <img src="../static/img/{{c.nombre}}.png">
                        </td>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.precio}}€</td>
                        <td><a href="/paginaProducto/{{c.codigo}}" class="btn btn-success">Ver</a></td>
                        <td><a href="/edicionProducto/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="/eliminarProducto/{{c.codigo}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    img {
        width: 100%;
    }
</style>

{% endblock %}