{% extends "./base.html" %} 
{% load static %} 

{% block title %} Página de Inicio {% endblock %} 

{% block body %}

{% for c in productos %}
<div class="card" style="width: 22rem; margin: auto; margin-bottom: 1rem">
    <img src="../static/img/{{c.nombre}}.png" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">{{c.nombre}}</h5>
        <p class="card-text">{{c.precio}}€</p>
        <a href="paginaProducto/{{c.codigo}}" class="btn btn-success" style="width: 19.9rem; max-width: 40rem;" >Ver</a>
    </div>
</div>
{% endfor %}

{% endblock %}